.app{
  font-size: 1.1em;
}
.game-container{
  margin: 0 auto;
  width: 750px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.info{
  flex: 1 100%;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(230, 230, 230, 1);
}
table{
  border-spacing: 1px;
}
td{
  min-width:30px;
  height: 30px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 800px) {
  .game-container{
    width: 375px;
    flex-flow: column;
  }
  td{
    width: 30px;
    height: 30px;
    font-size: .6em;
  }
}
