.app{
  font-size: 1.2em;
}
.game-container{
  display: flex;
  margin-top: 50px;
}
.info{
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background: rgba(230, 230, 230, 1);
}

@media (max-width: 800px) {
  .app{
    font-size: .9em;
  }
  .game-container{
    flex-flow: column;
    margin-top: 10px;
  }
  .info{
    padding: 10px;
  }
}
