.app{
  font-size: 1.1em;
}
.game-container{
  margin: 0 auto;
  width: 750px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.info{
  flex: 1 100%;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background: rgba(230, 230, 230, 1);
}
.game-btn-container{
  flex: 1 100%;
  margin-top: 10px;
}
.game-btn{
  display: block;
  margin: auto;
  padding: 10px;
  font-size: .9em;
  border-radius: 5px;
  border: 1px solid;
  background: rgba(230, 230, 230, 1);
}
table{
  border-spacing: 1px;
}
td{
  min-width:30px;
  height: 30px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 800px) {
  .app{
    font-size: .9em;
  }
  .game-container{
    width: 375px;
    flex-flow: column;
  }
  .info{
    padding: 3px;
  }
  .game-btn{
    padding: 3px;
  }
  td{
    font-size: .6em;
  }
}
