.battlefield{
  display: flex;
  margin: auto;
}
.table td{
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(0, 100, 200, .3);
  border-radius: 3px;
  background: rgba(200, 200, 200, .5);
  user-select: none;
}
.table td.player{
  border-color: black;
}
.numeration{
  display: flex;
  justify-content: space-around;
}
.numeration-v{
  flex-flow: column;
  margin-top: 30px;
}
.numeration span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
@media (max-width: 800px) {
  .table td{
    width: 23px;
    height: 23px;
    font-size: .6em;
  }
  .numeration-v{
    margin-top: 23px;
  }
  .numeration span{
    width: 23px;
    height: 23px;
  }
}
