.ship-picker{
  height: 80px;
  position: relative;
  flex: 1 100%;
  display: flex;
  margin: 26px;
  border-radius: 5px;
  background: rgba(200, 200, 200, .3)
}
.ship-picker .button-container{
  margin-left: auto;
}
.ship-picker .button-container button{
  margin: 0 5px;
  font-size: 3em;
  color: grey;
  background: transparent;
  border: none;
}
.dropzone{
  position: absolute;
}
@media (max-width: 800px) {
  .ship-picker .button-container button{
    font-size: 1.8em;
    margin: 0;
  }
}
